#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#################
## ForgeGradle stuff
#################
build
.gradle
eclipse
run
logs

# other project things
libs
/.apt_generated

# IntelliJ
out/
.idea/
generated/
*.iml
*.ipr
*.iws

# Misc
.directory
LICENSE.txt
README.txt
LICENSE.txt
gradlew.bat
gradlew
changelog.txt
CREDITS.txt
*.bat
gradlew.bat
*.launch
*.lnk
eula.txt
*.bat
gradlew
test.txt
